html(lang="en")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')

    style.
        body { font-family: 'Poppins', sans-serif; }
        .bi-telephone, .bi-envelope { margin-right: 10px; }
        footer ul li {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .footer-item a { color: #fff; text-decoration: none;}
        .footer-item .title, footer h5 { font-size: 20px; font-weight: 800; margin-bottom: 15px;}
    block head
  body
    header.page-header
        div.container-fluid
            div.row.bg-dark.text-white
                div.col.px-3.py-3.text-center
                    h1.mb-0 WeDevOop
        nav.navbar.navbar-expand-lg.bg-dark
            div.container-fluid.pb-2
                button.navbar-toggler.menu-toggler.bg-white(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div#navbarNavAltMarkup.collapse.navbar-collapse
                    div.navbar-nav.mx-auto
                        a.nav-link.active.text-white(href="/") Home
                        a.nav-link.text-white(href="https://documenter.getpostman.com/view/22859786/2s83S59s5g" target="_blank") Documentation
                        a.nav-link.text-white(href="/contact-us") Contact Us
    block section
    footer 
        div.footer-content.pt-5.pb-4.mt-3.bg-dark.text-white
            div.container-fluid
                div.row
                    div.col.mx-auto.text-center
                        div.footer-item
                            h5 WeDevOops
                        div.footer-text.mb-4
                            p.mb-0 We develop large scale and high traffic web application
                        div.footer-item
                            h6.title Contact Us
                            ul.nav-list.list-unstyled
                                li.nav-item
                                    a(href="tel:+919779648839")
                                        svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#fff' viewbox='0 0 16 16')
                                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z')
                                        span 9779648839
                                li.nav-item
                                    a(href="mailto:sharma.varun76@yahoo.in")
                                        svg.bi.bi-envelope(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#fff' viewbox='0 0 16 16')
                                            path(d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z')
                                        span sharma.varun76@yahoo.in
        .bottom-bar.d-block.w-100.bg-dark.text-white.pb-3
            div.row.text-center
                div.col
                    div.text
                        p.mb-0 2022 - All rights are reserved
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous")